//widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .icons-show-inside {
    display: inline;
  }

  .icons-show-outside {
    display: none;
  }

  .text-show-inside {
    display: inline;
  }

  .text-show-outside {
    display: none;
  }
}

//Desktops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .icons-show-inside {
    display: none;
  }

  .icons-show-outside {
    display: inline;
  }

  .text-show-inside {
    display: inline;
  }

  .text-show-outside {
    display: none;
  }
}

//Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .icons-show-inside {
    display: none;
  }

  .icons-show-outside {
    display: inline;
  }

  .text-show-inside {
    display: none;
  }

  .text-show-outside {
    display: inline;
  }
}

//Smartphones
@include mediaSm {
  main#hom h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .icons-show-inside {
    display: none;
  }

  .icons-show-outside {
    display: inline;
  }

  .text-show-inside {
    display: none;
  }

  .text-show-outside {
    display: inline;
  }
}
